.firework {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5vmin;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(circle, #ffcc00, transparent);
  background-size: 5vmin 5vmin;
  background-repeat: no-repeat;
  animation: explode 2s ease infinite;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.firework:nth-child(2) {
  top: 30%;
  left: 70%;
}
.firework:nth-child(3) {
  top: 30%;
  left: 20%;
}
